body {
	font-family: Arial, sans-serif;
	margin: 20px;
	background-color: #313131;
}
nav, header, section {
	background: #fff;
	padding: 20px;
	margin: 20px 15px;
	border: 10px;
	border-style: solid;
	border-color: aquamarine;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2{
	color: blue;
}